//
// Various design elements
//

//
// icon
//
i.icon {
  width: 18px;
  height: 18px;
  background: no-repeat 50% 50%;
  display: inline-block;
  filter: invert(40%);
  &.big {
    width: 32px;
    height: 32px;
  }
  &.search {background-image: var(--icon-search-url);}
  &.close {background-image: var(--icon-close-url);}
}

//
// simple gallery
//

.gallery {
  display: flex;
  flex-wrap: wrap;
  .cell {
     flex-basis: 0;
     flex-grow: 1;
     margin: var(--spacing-base);
     text-align: center;
     img {
       display: block;
       margin: 0.25rem auto;
     }
     a {
       display: block;
     }
     &.square {
       min-width: 200px;
       img {
         height: 100px;
         width: 100px;
       }
     }
     &.full {
       img {
         height: inherit;
         width: inherit;
       }
     }
  }
}

//
// a wrapper for a list of horizontal buttons
//
.button-bar {
  display: flex;
  column-gap: var(--spacing-base);
  margin-bottom: var(--spacing-base);
}

//
// a simple display with a small image
//
.feature.small-img {
  display: flex;
  column-gap: var(--spacing-base);
  img {
    max-width: 100px;
  }
}

//
// SEARCH AREA
//

$search-height: 92px;

.icon.search {
  margin-right: 1em;
}

input.toggle:checked ~ #search {
  visibility: visible !important;
  opacity: 100;
  top: 0px;
}

#search {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: top 0.3s, opacity 0.3s;
  position: absolute;
  z-index: 300;
  top: -1 * $search-height;
  left: 0;
  width: 100%;
  height: $search-height;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: flex-start;
  form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  label {
    margin-left: 2rem;
  }
  input {
    color: var(--calyx-base);
    font-size: var(--font-size-body);
    padding: var(--spacing-small) var(--spacing-base);
    border-radius: var(--radius-soft);
    border: 0;
    background-color: white;
    &[type=search] {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -4px;
    }
    &[type=submit] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #eee;
    }
  }
}